<h1>Profile Spolight</h1>

<b>User Name:</b>
<%= @user.name %>

<br>
<b>Email:</b>
<%= @user.email %>
<br>


<b><%= link_to "Edit Profile", edit_user_profile_path %></b> |
<b><%= link_to "Edit User", edit_user_path(current_user.id) %></b> |




