<h1>Welcome to the Rails Rainforest</h1>

<h3><%= link_to "Products Main Page", products_path %></h3>




<!--
< form_tag(:action => 'contact_me') %>
<table>
<tr>
  <td><= label_tag(:name) %></td>
  <td><= text_field_tag(:name) %></td>
</tr>
<tr>
  <td><= label_tag(:cell) %></td>
  <td><= text_field_tag(:cell) %></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><= submit_tag("Send Info") %></td>
</tr>
</table>
-->

