<h1>Welcome to the Rails Rainforest</h1>

<p>Please click on below link to enter the Rainforest</p>

<b><%= link_to "Products Main Page", products_path %></b>

<p>Or please Log in or Sign up to continue</p>
